{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-dashboard">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Perfiles</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="us in users" :key="us.username">
                            <th>[[us]]</th>
                        </tr>

                    </tbody>
                </table>
            <h3>Porcentages de votaciones según censo</h3>
             <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id de votacion</th>
                            <th>Porcentage del censo</th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="por in porcentages">
                            <th>[[por.votingid]]</th>
                            <th>[[por.porc*100]]% </th>



                        </tr>

                    </tbody>
                </table>
            <h3>Número de encuestas votadas en tiempo real</h3>
             <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Votante</th>
                            <th>Encuestas</th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="f in new_votes">
                            <th>[[f.voter]]</th>
                            <th>[[f.number]] </th>



                        </tr>

                    </tbody>
                </table>






    </div>
        </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.6"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var users = {{users|safe}};
        var porcentages={{porcentages|safe}};
        var new_votes={{new_votes|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-dashboard',
            data: {
                users: users,
                porcentages:porcentages,
                new_votes:new_votes
            }
        })
    </script>
</body>
{% endblock %}
