{% extends 'base.html' %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="{% static "base/style.css" %}" />
{% endblock %}


{% block content %}
<div id="app-main">

    <div id="header" class="container text-center my-4">
        <h1>{% trans 'Panel de Control' %}</h1>
    </div>

    <div id="content" class="container">
        <div class="row">

            <div class="col-lg-6 text-center my-3 mx-auto">


                <div id="id-visualizer-panel" class="row my-3">
                    <h2>{% trans 'Paneles Individuales' %}</h2>
                    <b-card header="{% trans 'Busca tu votación' %}">
                        <b-list-group class="voting-list my-3">
                            {% for voting in visualize_votings %}
                                <b-list-group-item href="/dashboard/dashboard/{{ voting.pk }}">{{ voting.name }}</b-list-group-item>
                            {% endfor %}
                        </b-list-group>
                    </b-card>
                </div>
            </div>



            {% if is_staff %}
            <div id="id-admin-panel" class="col-lg-6 text-center my-3 mx-auto">
                <h2>{% trans 'Si eres administrador' %}...</h2>

                <div class="row my-4">
                    <div class="d-grid gap-2 col-8 mx-auto">
                        <b-button block variant="outline-danger" size="lg"  href="/dashboard/dashboard">
                            <div class="row">
                                <div class="col-2"><b-icon icon="three-dots" animation="cylon"></b-icon></div>
                                <div class="col-10 text-start">{% trans 'Panel de Control Global' %}</div>
                            </div>
                        </b-button>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="d-grid gap-2 col-8 mx-auto">
                        <b-button size="lg" block variant="outline-danger" href="/dashboard/download">
                            <div class="row">
                                <div class="col-2"><b-icon icon="three-dots" animation="cylon"></b-icon></div>
                                <div class="col-10 text-start">{% trans 'Descargar Estadísticas' %}</div>
                            </div>
                        </b-button>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="d-grid gap-2 col-8 mx-auto">
                        <b-button size="lg" block variant="outline-danger" href="https://t.me/decide_stadistics_bot">
                            <div class="row">
                                <div class="col-2"><b-icon icon="three-dots" animation="cylon"></b-icon></div>
                                <div class="col-10 text-start">{% trans 'Acceso al Bot de Telegram' %}</div>
                            </div>
                        </b-button>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}

{% block extrabody %}
<script>
    new Vue({ el: '#app-main' }); 
</script>
{% endblock %}