
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        p {font-size: 18px;}

    </style>
</head>
<body>

    <div id = "pivot-table-container">

        <H1>Nombre de la votación</H1>
        <p>{{voting.name}}</p>
        <H1>Descripción de la votación</H1>
        <p>{{voting.desc}}</p>
        <H1>Tipo de pregunta</H1>
        <p>{{questionType}}</p>
        <H1>Número de personas en el censo</H1>
        <p>{{people}}</p>
        <H1>Número de votos</H1>
        <p>{{numberOfVotes}}</p>
        <H1>Duración de la votación</H1>
        <p> {{time}}</p>
       
    </div>
    <H1 style="text-align: center;">
        Resultados de la votación
    </H1>
    <canvas id="myChart" width="800" height="200"></canvas>
    <H1 >
        Porcentaje de personas que votaron
    </H1>
    <div>
        <canvas id = "my2Chart" width = "100" height = "100 " ></canvas>
    </div>
    
    <script src ="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels : [{% for item in labels %}"{{ item }}",{% endfor %}],
                datasets: [{
                label: "{{item      }}",
                data : [{% for item in values %}{{ item }},{% endfor %}],
                backgroundColor: 'rgba(7,132,255, 0.6)',
                borderColor: 'rgba(7,132,255, 1)',
                borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        const ctx2 = document.getElementById('my2Chart').getContext('2d');
        ctx2.canvas.parentNode.style.width = "300px";
        ctx2.canvas.parentNode.style.height = "300px"; 
        const myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
            labels : [{% for item in labels2 %}"{{ item }}",{% endfor %}],
                datasets: [{
                label: "{{voting.name}}",
                data : [{% for item in values2 %}{{ item }},{% endfor %}],
                backgroundColor: ['blue','orange'],
                borderColor: 'rgba(7,132,255, 1)',
                borderWidth: 2
                }]
            },
            options: {
                responsive: true,
            }
        });
    </script>

</body>



