{% extends 'base.html' %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
{% endblock %}

{% block content %} 
    
    {% if user.is_authenticated %}
        <div class="container-md">
            <!--Form with data user--> 
            {% if are_errors == True %}
                {% for error in errors%}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container py-5">
                <h1>Your profile</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ register_form.as_p }}                    
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
            <div>
                <a class="btn btn-primary" href="http://localhost:8000/authentication/signout" role="button">Logout</a>
            </div>
            <br>
            <div>
                <h1>Do you want to delete your user account?</h1>
                <br>
                <button class="btn btn-primary" onclick="delete_user()">Delete account</button>


            </div>

        </div>
    {% else %}
    <div class="container-md">
        {% csrf_token %}
        <a class="btn btn-primary" href="http://localhost:8000/authentication/signin/" role="button">Sign in</a>
    </div>
    
    {% endif %}


<script>
  function delete_user() {
    if (confirm("Are you sure you want to delete your user account?")) {
      window.location.href = "http://localhost:8000/authentication/deleteUser/";
    }

  }
</script>


{% endblock %}