{% extends 'base.html' %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
{% endblock %}

{% block content %} 



<div class="container-md">
	<!--Register--> 
	{% if are_errors == True %}
		{% for error in errors%}
			<div class="alert alert-danger" role="alert">
				{{error}}
			</div>
		{% endfor %}
	{% endif %}
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form.as_p }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p>Already have an account? <a href="{% url 'signin' %}">Log in</a></p>
</div>

</div>


{% endblock %}