{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
{% endblock %}

{% block content %}
<div id="app-census-grouping">

    {%if msg%}
    <b-alert variant={{tipo}} show dismissible>
        {{msg}}
    </b-alert>
    {%endif%}

    <form action="/census/census_grouping/" method="post">
        {% csrf_token %}

        <div class="container-fluid">
        <div class="row justify-content-center mt-5">
        <div class="col-md-8">
        <div class="card">
            <article class="card-body">
                                                                        <!--TRADUCCION-->
            <h4 class="card-title mb-4 mt-1 text-align-center text-center">Agrupar censos</h4>

            <div class="mb-3 row">
                <table class="table table-bordered table-striped mt-2">
                    <thead  class="text-center">
                        <tr>
                            <!-- TRADUCCION -->
                            <th>Votación</th>
                            <th>Votante</th>
                            <th>Grupo</th>
                            <th>Selección</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for censo in censos %}
                        <tr>
                            <td>{{censo.voting_id}}</td>
                            <td>{{censo.voter}}</td>
                            <td>{{censo.group}}</td>
                            <td><input type="checkbox" id="choices" name="choices" value={{censo.id}}></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mb-3 row">                              <!--TRADUCCION-->
                <label for="group" class="col-sm-3 col-form-label mt-3">Grupo de censos: </label>
                <div class="col-sm-5 mt-3">                                                 <!--TRADUCCION-->
                    <input class="form-control" id="group" name="group" placeholder="En blanco para quitar censo del grupo">
                </div>

                <div class="form-group text-center col-sm-4 mt-3">                     <!--TRADUCCION-->
                    <button type="submit" class="btn btn-primary btn-block" value="OK"> Agrupar </button>
                </div>
            </div>
                  
            </article>
        </div>
        </div>
        </div>
        </div>

    </form>

</div>

{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->    
    <script>
        new Vue({ el: '#app-census-grouping' }); 
    </script>
{% endblock %}