{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
    href="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
<div id="app-census-details">
    <!-- Navbar -->
    <b-navbar toggleable="lg" type="dark" variant="dark">
        <!-- TRADUCCION -->
        <b-navbar-brand href="#">Decide</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    </b-navbar>
</div>


    <form action="/census/census_details/" method="post">
        {% csrf_token %}

        <div class="container-fluid">
        <div class="row justify-content-center mt-5">
        <div class="col-md-8">
                                                                        <!--TRADUCCION-->
            <h4 class="mb-4 mt-1 text-align-center text-center">Detalles de censos</h4>

            <div class="mb-3 row">
                <table class="table table-bordered table-striped mt-2">
                    <thead  class="text-center">
                        <tr>
                            <!-- TRADUCCION -->
                            <th>Votación</th>
                            <th>Votante</th>
                            <th>Grupo</th>
                            <th>Eliminar censo</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for censo in censos %}
                        <tr>
                            <td>{{censo.voting_id}}</td>
                            <td>{{censo.voter}}</td>
                            <td>{{censo.group}}</td>
                            <td><button type="submit" name="delete" class="btn btn-danger btn-block" value="{{censo.id}}">Borrar</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                                                      
        </div>
        </div>
        </div>

    </form>

</div>
</div>

{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.6/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue-icons.min.js"></script>
    
    <script>
        new Vue({ el: '#app-census-details' }); 
    </script>
{% endblock %}