{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div id="app-census-details">
    
    {%if msg%}
    <b-alert variant={{tipo}} show dismissible>
        {{msg}}
    </b-alert>
    {%endif%}

    <div class="container-fluid">
    <div class="row justify-content-center mt-5">
    <div class="col-md-8">
    <div class="card">
        <article class="card-body">
        <h4 class="mb-4 mt-1 text-align-center text-center">{% trans 'Detalles de censos' %}</h4>  
        <form action="/census/census_details/" method="post">
                {% csrf_token %}
            <div class="mb-3 row">
                <div class="col-12 table-responsive ">
                <table class="table table-bordered table-striped mt-2">
                    <thead  class="text-center">
                        <tr>
                            
                            <th>{% trans 'Censo Id' %}</th>
                            <th>{% trans 'Votación Id' %}</th>
                            <th>{% trans 'Votante (Id)' %}</th>
                            <th>{% trans 'Grupo' %}</th>
                            <th>{% trans 'Eliminar censo' %}</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for censo in censos %}
                        <tr>
                            <td>{{censo.id}}</td>
                            <td>{{censo.voting_id}}</td>
                            <td>{{censo.voter}} ({{censo.voter.id}})</td>
                            <td>{{censo.group}}</td>
                            <td><button type="submit" name="delete" class="btn btn-danger btn-block" value="{{censo.id}}">{% trans 'Eliminar' %}</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>                                                      
        </form>
        
        <div class="mb-3 row">
            <div class="d-grid gap-2 col-5 mx-auto">
                <a class="btn btn-outline-primary" href="/census/reuse" role="button" id="reuse_census">{% trans 'Reutilizar Censos' %}</a>
            </div>
            <div class="d-grid gap-2 col-5 mx-auto">
                <a class="btn btn-outline-primary" href="/census/census_grouping" role="button">{% trans 'Agrupar Censos' %}</a>
            </div>
        </div>
        
        </article>
    </div>
    </div>
    </div>
    </div>

</div>

{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script>
        new Vue({ el: '#app-census-details' }); 
    </script>
{% endblock %}