{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
    href="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
<div id="app-census-grouping">
    <!-- Navbar -->
    <b-navbar toggleable="lg" type="dark" variant="dark">
        <!-- TRADUCCION -->
        <b-navbar-brand href="#">Decide</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    </b-navbar>
</div>


    <form action="/census/census_grouping/" method="post">
        {% csrf_token %}

        <div class="container-fluid">
        <div class="row justify-content-center mt-5">
        <div class="col-md-8">
        <div class="card">
            <article class="card-body">
                                                                        <!--TRADUCCION-->
            <h4 class="card-title mb-4 mt-1 text-align-center text-center">Agrupar Censo</h4>

            <div class="mb-3 row">
                <table class="table table-bordered table-striped mt-2">
                    <thead>
                        <tr>
                            <!-- TRADUCCION -->
                            <th>Votación</th>
                            <th>Votante</th>
                            <th>Grupo</th>
                            <th>Selección</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for censo in censos %}
                        <tr>
                            <td>{{censo.voting_id}}</td>
                            <td>{{censo.voter}}</td>
                            <td>{{censo.group}}</td>
                            <td><input type="checkbox" id="choices" name="choices" value={{censo.id}}></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        
                
            <div class="mb-3 row">

                <div class="mb-3 row">                              <!--TRADUCCION-->
                    <label for="group" class="col-sm-3 col-form-label">Grupo de censos: </label>
                    <div class="col-sm-5">
                        <input class="form-control" id="group" name="group" placeholder="Ejemplo: Marchena">
                    </div>

                    <div class="form-group text-center col-sm-4">                     <!--TRADUCCION-->
                        <button type="submit" class="btn btn-primary btn-block" value="OK"> Aceptar </button>
                    </div>
                </div>
            

                
            </div>                                                          
                
            </article>
        </div>
        </div>
        </div>
        </div>

    </form>

</div>
</div>

{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.6/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue-icons.min.js"></script>
    
    <script>
        new Vue({ el: '#app-census-grouping' }); 
    </script>
{% endblock %}