{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div id="app-census-reuse">

<div class="container-fluid">
{% for error in errors %}
<div class="alert alert-dismissible alert-danger fade show" role="alert">
    <p class="my-0">{{ error }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="row justify-content-center mt-5">
    <div class="col-md-3">
    <div class="card">
        <article class="card-body">
        <!--TRADUCCION-->
        <h4 class="card-title mb-4 mt-1 text-align-center text-center">Reutilizar Censo</h4>
            <form action="/census/reuse" method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                    <div class="mb-3 row">
                        <!--TRADUCCION-->
                        <label for="voting_id" class="col-sm-5 col-form-label">Votación origen: </label>
                        <div class="col-sm-7">
                            <input class="form-control" id="voting_id" name="voting_id" placeholder="Id de la votación a copiar">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <!--TRADUCCION-->
                        <label for="new_voting" class="col-sm-5 col-form-label">Votación destino: </label>
                        <div class="col-sm-7">
                            <input class="form-control" id="new_voting" name="new_voting" placeholder="Id de la votación deseada">
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4 text-center">
                    <!--TRADUCCION-->
                    <button type="submit" class="btn btn-primary btn-block" value="OK"> Aceptar  </button>
                </div> <!-- form-group// -->                                                           
            </form>
        </article>
    </div>
    </div>
</div>
</div>

</div>

{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.6/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.23.1/dist/bootstrap-vue-icons.min.js"></script>
    
    <script>
        new Vue({ el: '#app-census-reuse' }); 
    </script>
{% endblock %}