{% extends "base.html" %}

{% block content %}
<div class="shadow-lg container-fluid mt-3 py-3">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
 
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <!--TRADUCCION-->
            <h2>Importación Fichero Excel</h2>
          
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!--TRADUCCION-->
            <button type="submit" class="btn btn-success" >Exportar</button>                            
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
    
{% endblock %}