{% extends "base.html" %}

{% block content %}
<!--TRADUCCION--> <!--Teneis que traducir los mensaje de error que provienen de la gestion de errores  de la importación en census/views. Traducir tambien el html-->

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags == 'error' %} class="alert alert-danger" {% elif message.tags == 'success' %} class="alert alert-success"{% endif %}  role="alert">
      {{ message }}</div>
    {% endfor %}
{% endif %}

<div class="shadow-lg container-fluid mt-3 py-3">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
 
    <div class="container">
      <div class="x_title col-12 mt-3 ml-2 mb-4">
        <!--TRADUCCION-->
        <h1>Importación Fichero JSON</h1>
      </div>
      <div class="col-12">
        <!--TRADUCCION-->
        <p>Introduzca un fichero con el formato .json para importarlo: </p>
      </div>
      
      <div class="row">
 
        <div class="col-lg-8 form-group mb-lg-0 mb-3">

          <input type="file" class="form-control" id="customFile" name="myfile" />  
        </div>
               
        <div class="col-lg-4">
          <div class="row">
            <div class="col-6 d-grid px-2">
              <!--TRADUCCION--> 
              <button type="submit" class="btn btn-success" id="id-submit-import">Subir</button>   
            </div>
            <div class="col-6 d-grid px-2">
              <!--TRADUCCION-->
              <input type="button"  class="btn btn-outline-dark" value="Volver atrás" onClick="history.go(-1);">
            </div>
          </div>
        </div>                         
      </div>
    </div>

  </form>
</div>
    
{% endblock %}