{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
{% endblock %}

{% block content %} 
    
    {% if user.is_authenticated %}
        <div class="container-md">
            <!--Form with data user--> 
            {% if are_errors == True %}
                {% for error in errors%}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endfor %}
            {% endif %}
            <h1 class="text-center mt-5" id="profile-title">{% trans 'Gestiona tu perfil' %}</h1>
        </div>

    <div id="app-profile">
        <b-container fluid="lg" class="mt-5">
            <b-row align-h="center">
                <b-col cols="12" md="6">
                    <b-card-group deck>
                        <b-card style="background: rgba(211, 229, 237, 1); border: none;border-radius: 10px;">
                        <b-card-body class="text-center">
                            <form action="/authentication/profile/" method="post">
                                {% csrf_token %}
                                <b-row>
                                    <b-col cols="12" md="3">
                                        <label for="username">{% trans 'Username' %}:</label>
                                    </b-col>
                                    <b-col cols="12" md="9">
                                        <b-form-input v-b-popover.hover.top="'150 carácteres como máximo. Únicamente letras, dígitos y @/./+/-/_ '" 
                                        title="Requirements" placeholder="Required" id="username" name="username" value="{{ user.username }}">
                                        </b-form-input>
                                    </b-col>
                                </b-row>
    
                                <b-row class="mt-4">
                                    <b-col cols="12" md="3">
                                        <label for="first_name">{% trans 'First name' %}:</label>
                                    </b-col>
                                    <b-col cols="12" md="9">
                                        <b-form-input placeholder="Optional" id="first_name" name="first_name" value="{{ user.first_name }}"></b-form-input>
                                    </b-col>
                                </b-row>
    
                                <b-row class="mt-4">
                                    <b-col cols="12" md="3">
                                        <label for="last_name">{% trans 'Last name' %}:</label>
                                    </b-col>
                                    <b-col cols="12" md="9">
                                        <b-form-input placeholder="Optional" id="last_name" name="last_name" value="{{ user.last_name }}"></b-form-input>
                                    </b-col>
                                </b-row>
    
                                <b-row class="mt-4">
                                    <b-col cols="12" md="3">
                                        <label for="email">{% trans 'Email' %}:</label>
                                    </b-col>
                                    <b-col cols="12" md="9">
                                        <b-form-input id="email" name="email" value="{{ user.email }}"></b-form-input>
                                    </b-col>
                                </b-row>

                                <b-row class="mt-4">
                                    <b-col cols="12" md="3">
                                        <label for="genre">{% trans 'Genero' %}:</label>
                                    </b-col>
                                    <b-col cols="12" md="9">
                                        <select class="form-select" id="genre" name="genre" aria-label="Default select example">
                                            {% if genre == 'O' %}
                                                <option value="M" >Male</option>
                                                <option value="W" >Female</option>
                                                <option value="O" selected>Other</option>
                                            {% elif genre == 'M' %}
                                                <option value="M" selected>Male</option>
                                                <option value="W" >Female</option>
                                                <option value="O">Other</option>
                                            {% else %}
                                                <option value="M">Male</option>
                                                <option value="W" selected>Female</option>
                                                <option value="O">Other</option>
                                            {% endif %}
                                          </select>
                                    </b-col>
                                </b-row>                 
                                <button class="btn btn-primary mt-4" type="submit" value="OK">{% trans 'Update' %}</button>
                            </form>    
                        </b-card-body>
                        <b-progress height="2px" value="100" variant="dark"></b-progress>
                        <b-card-body>
                            <b-row>
                                <b-col class="text-center">
                                    <b-button href="/authentication/signout" variant="warning">{% trans 'Log out' %}</b-button>
                                </b-col>
                                <b-col class="text-center">
                                    <b-button variant="danger" onclick="delete_user()">{% trans 'Delete account' %}</b-button>
                                </b-col>
                            </b-row>  
                        </b-card-body>
    
                        </b-card>
                </b-col>
            </b-row>
        </b-container>
    
        </div>
    {% else %}
    <div class="container-md">
        {% csrf_token %}
        <a class="btn btn-primary" href="http://localhost:8000/authentication/signin/" role="button">{% trans 'Sign in' %}</a>
    </div>
    
    {% endif %}

<script>
  function delete_user() {
    if (confirm("Are you sure you want to delete your user account?")) {
      window.location.href = "/authentication/deleteUser/";
    }

  }
</script>



{% endblock %}


{% block extrabody %}
    <script>
        new Vue({ el: '#app-profile' }); 
    </script>
{% endblock %}