.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.my-custom-scrollbar-perf {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y-perf {
    display: block;
}
.descargar{
    border-radius: 12px;
}
